:root {
  --text-color: #f0f4f5;
  --background-color: #8a989c;
  --accent-color: #cfd8dc;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.navbar a {
  text-decoration: none;
  color: var(--text-color);
}

.navbar {
  font-family: museomoderno, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: var(--background-color); */
  background-color: rgba(54, 77, 85, 0.7);
  padding: 8px 24px;
  min-height: 40px;
  position: sticky;
  top: 0;
  z-index: 3;
}

.navbar__logo {
  font-size: 26px;
  color: white;
}

.homeLogo{
  margin:-20px;
  margin-right: 65px;
  position: relative;
  height: 65px;
  top:9px;
  left: 15px;
  z-index: 5;
}

.navbar__logo i {
  color: black;
}

.navbar__menu {
  margin:0;
  display: flex;
  align-self: center;
  justify-content: space-between;
  width: 40vw;
  max-width: 500px;
  list-style: none;
  padding-left: 0;
}

.navbar__menu li > a {
  padding: 8px 12px;
  display: block;
}

.navbar__menu li:hover {
  background-color: var(--accent-color);
  border-radius: 5px;
  transition:all .5s ease;
}

.navbar__menu li:hover a{
  color:black;
  transition: all .5s ease;
}

.navbar__icons{
  margin:0;
  padding-left: 0;
  text-align: center;
  list-style: none;
  display: flex;
  color: black;
}

.navbar__icons i {
  color: black;
  padding: 7px;
}

.navbar__icons li:hover{
  background-color: var(--accent-color);
  border-radius: 50px;
  color: var(--text-color);
  display: inline-block;
  transition: all 0.5s ease-in-out;
}

.navbar__icons li a {
  position: relative;
}

.navbar__icons li a span {
  position: absolute;
  left:50%;
  top:130%;
  transform: translateX(-50%);
  font-size: 0.8em;
  line-height: 1.5em;
  background-color: var(--accent-color);
  padding: 3px 9px;
  border-radius: 6px 0;
  opacity:0;
  transition: all .5s;
}

.navbar__icons li a span::before{
  content:'';
  position: absolute;
  left: 50%;
  bottom: 1.9em;
  margin-left: -4px;
  border-bottom: 7px solid var(--accent-color);
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

.navbar__icons li a:hover span {
  display: inline-block;
  color: black;
  opacity: 1;
  top: 45px;
}

.velogIcon{
  height: 10px;
  box-sizing: border-box;
}

.checkBtn{
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: white;
  display: none;
  transition: transform 500ms ease-in-out;
  cursor: pointer;
}

.checkBtn.clicked {
  transform: rotate(270deg);
}

.navbar__menu li a.clicked{

}

#hamburgerCheck{
  display: none;
}

@keyframes rolling {
  0% {
    margin-top: : 0;
  }
  33%{
      margin-top: -1.5em;
  }
  66%{
      margin-top:-3em;
  }
  100%{
      margin-top:-4.5em;
  }
}

.describeMyself {
  margin: 14px 3px;
  display: inline-block;
  /* background-color:#111; */
  vertical-align: top;
  height: 1.5em;
  overflow: hidden;
  color:white;
  z-index: 2;
}

.descriptionList {
  padding-left: 0;
  margin:0;
  animation-name: rolling;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.descriptionList li {
  list-style: none;
  line-height: 1.5em;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.main_1 {
  /* position: absolute; */
  background-image: url(images/main.jpg);
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}

.img-cover {
  position: absolute;
  too: 58px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.greet {
  font-family: balsamiq sans, sans-serif;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  width: 70%;
  /* 꼭지점 기준으로 이동했으므로 */
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  color: white;
  transition: all .5s;
}

.greetLine{
  display: flex;
  justify-content: center;
}

.arrow-down{
  position: absolute;
  top:130%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.arrow-down span{
  display: block;
  width: 1.5em;
  height: 1.5em;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate-arrows 2s infinite;
}

.arrow-down span:nth-child(1){
  animation-delay: -0.2s;
}

.arrow-down span:nth-child(2){
  animation-delay: -0.4s;
}

.arrow-down span:nth-child(3){
  animation-delay: -0.6s;
}

@keyframes animate-arrows{
  0%{
    opacity: 0;
    transform: rotate(45deg) translate(-1.5em, -1.5em);
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: rotate(45deg) translate(1.5em, 1.5em);
  }
}

#about {
  font-family: source sans pro, sans-serif;
  z-index: 3;
  /* background-color: #babdbe; */
  background-image: linear-gradient(180deg, #62757f , #ffffff);
}

.row {
  padding: 8em 2em 8em 2em;
  display: flex;
  flex-direction: column;
}

.column {
  padding: 8px 0 0 8px;
  display: flex;
  flex-direction: column;
}

.about-image {
  padding-right: 10px;
}

.about-image img {
  width: 100%;
  max-width: 700px;
  border-radius: 10px;
}

.about-image video{
  width: 100%;
  max-width: 700px;
  margin-top: 2em;
  border-radius: 10px;
}

.about-text {
  color: black;
  font-family: Nanum Gothic;
}

.skillContainer {
  align-self: center;
  max-width: 23em;
  /* padding: 1.5em; */
  background: #cfd8dc;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
  align-content: space-around;
}

.skillItems{
  /* padding: 0.5em; */
  width: 30%;
  text-align: center;
  font-size: .9em;
}

#favorites{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#favHead{
  margin-top: 100px;
  text-align: center;
}

.gallery {
  align-self: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding-top: 4em;
  padding-bottom: 6em;
  padding-right: 1em;
  padding-left: 1em;
  max-width: 1100px;
}

.gallery-item {
  position: relative;
  /* flex: 1 0 18em; */
  margin: 1.5%;
  color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  flex-basis: 28%;
  overflow: hidden;
  display: flex;
  align-content: center;
  text-align: center;
}

.gallery-item img{
  position: relative;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.gallery-item:hover .gallery-item-info{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.gallery-item-info {
  display: none;
}

.gallery-item-info p{
  padding: 3em;
  color: var(--text-color);
}



.gallery-item:hover img{
  transform: scale(1.2);
  transition: transform 0.8s;
}
/* 
@supports (display: grid){
  .gallery {
    width: auto;
    margin: 0;
  }
} */

.nameForm,
.greetings {
  display: none;
}

.showing {
  display: block;
}


#portfolio {
  background : radial-gradient(ellipse farthest-corner at center top, #b2dfdb 0%, #00251a 100%);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.todoContainer{
  margin-top: 20px;
  margin-bottom: 50px;
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 300px;
  height: 500px;
  border-radius: 15px;
  
}

.todoContainer img{
  width: 100%;
  height: 45%;
  object-fit: cover;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.clock{
  position: absolute;
  top:92px;
  left:179px;
  transform: rotate(1.2deg);
  font-family: monospace;
}

.clock p{
  margin: 20px;
  font-size: 18px;
}

.nameForm{
  position: relative;
  margin-top: 100px;
  margin-bottom: 15px;
  padding:0 10px 0 5px;
  border-bottom: 1px solid white;
}

.nameForm input{
  font-family: source sans pro, sans-serif;
  border:none;
  height: 35px;
  font-size: 1.3em;
  background: transparent;
}

.nameForm input::placeholder{
  color:var(--text-color);
}

.nameForm button{
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  border-radius: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
  transition: all .5s ease;
}

.nameForm button:hover {
  color: #00701a;
  background-color: white;
}

.greetings{
  position: relative;
  margin-top: 100px;
  font-size: 1.5em;
  text-align: center;
  font-family: source sans pro, sans-serif;
}

.resetNameBtnClass {
  border: none;
  background-color: transparent;
  font-size: .7em;
  color: white;
  cursor: pointer;
  border-radius: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
  transition: all .5s ease;
}

.greetings .resetNameBtnClass:hover {
  color: #00701a;
  background-color: white;
}

.todoInputContainer{
  display: flex;
  padding-top: 10px;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.todoForm{
  position: relative;
  /* margin-bottom: 15px; */
  padding:0;
  border-bottom: 1px solid #8e979c;
}

.todoForm input{
  font-family: source sans pro, sans-serif;
  border: none;
  height: 35px;
  background: transparent;
}

.todoList{
  font-family: source sans pro, sans-serif;
  list-style: none;
  padding-left: 0;
  color: black;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  width: 80%;
  height: 100%;
  overflow: auto;
}

.todoLiClass{
  display: flex;
  text-overflow: ellipsis;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.todoLiClass button{
  padding: 0;
  border:none;
  background-color: transparent;
  color: black;
  border-radius: 3px;
  transition: all .3s ease;
  cursor: pointer;
}

.completeBtnClass:hover {
  color: #43a047;
  transform: scale(1.3);
}

.deleteBtnClass:hover {
  color: #c2185b;
  transform: scale(1.3);
}

.addTodoBtn{
  padding:0;
  border: none;
  background: transparent;
  color: black;
  cursor: pointer;
  border-radius: 5px;
  transition: all .5s ease;
}

.addTodoBtn:hover{
  color: #43a047;
  transform: scale(1.3);
}

.todoLiClass {
  min-height: 1.3em;
  margin: 5px;
  padding: 2px;
  overflow: auto;
  transition: all 0.8s ease;
}

.todoList li:hover {
  background-color: #e4f8e5 ;
  border-radius: 5px;
  /* transition:all 0.8s ease-in-out; */
}

.newTodoClass {
  position: relative;
  width: 80%;
  word-break: break-all;
  text-align: center;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.todoCompleted {
  font-style: italic;
  color: lightgray;
  opacity: .2;
  text-decoration: line-through;
}

.todoFall {
  transform: translateY(10em) rotateZ(20deg);
  opacity: 0;
}

@media screen and (max-width: 768px) {
  .navbar {
    display: absolute;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }
  .navbar__menu {
    position: relative;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .navbar__menu li {
    width: 100%;
    text-align: center;
    display: inline;
    margin: 0 2px;
  }
  .navbar__icons {
    display: none;
    justify-content: center;
    width: 100%;
    padding-left: 0;
  }
  
  .checkBtn{
    display: block;
  }
  
  .navbar__menu.active,
  .navbar__icons.active {
    display: flex;
  }

  /* .clock h1{
    font-size: 20vw;
  } */
}

@media screen and (min-width: 769px) {
  .row {
    flex-direction: row;
  }
}
